// Typography

$font-family-logo: 'Pacifico', cursive;
$font-family-tagline: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;

// Color palette
$font-color-light: #DDE2E3; //frost
$text-shadow-color: #000000; //black
